@import "tailwindcss";

body {
    font-family: "General Sans", sans-serif;
    width: 100dvw;
    background-color: #dfdff0;
    overflow-x: hidden;
}

@layer base {
    @font-face {
        font-family: 'circular-web';
        src: url('/fonts/circularweb-book.woff2') format('woff2');
    }

    @font-face {
        font-family: 'general';
        src: url('/fonts/general.woff2') format('woff2');
    }

    @font-face {
        font-family: 'robert-medium';
        src: url('/fonts/robert-medium.woff2') format('woff2');
    }

    @font-face {
        font-family: 'robert-regular';
        src: url('/fonts/robert-regular.woff2') format('woff2');
    }

    @font-face {
        font-family: 'zentry-regular';
        src: url('/fonts/zentry-regular.woff2') format('woff2');
    }
}

@theme {
    /* Fonts */
    --font-circular: 'circular-web', sans-serif;
    --font-general: 'general', sans-serif;
    --font-robert-md: 'robert-medium', sans-serif;
    --font-robert-base: 'robert-regular', sans-serif;
    --font-zentry: 'zentry-regular', sans-serif;
    /* Colors */
        /* Blue */
        --color-blue-50: #DFDFF0;
        --color-blue-75: #DFDFF2;
        --color-blue-100: #F0F2FA;
        --color-blue-200: #010101;
        --color-blue-300: #4FB7DD;
        /* Violet */
        --color-violet-300: #5724FF;
        /* Yellow */
        --color-yellow-100: #8E983F;
        --color-yellow-300: #EDFF66;
}